In [52]:
import pandas as pd

In [53]:
raw_data = pd.read_json('../../data/Fuente1/Fuente1 - personas.json')
raw_data.head()

,DNI,Nombre,Apellidos,Ciudad,Sexo,Aficiones,Amigos,Edad
0,1111,Maria,Mendez Garcia,La Laguna,M,"[pintura, senderismo, natacion]","[{'DNI': 2222}, {'DNI': 4444}]",NaN
1,2222,Carmen,Martinez Palacios,Tacoronte,M,"[pintura, tenis, natacion]","[{'DNI': 1111}, {'DNI': 9999}]",22.0
2,3333,Carlos,Sanchez Diaz,Santa Cruz,H,"[futbol, natacion, running]","[{'DNI': 2222}, {'DNI': 5555}, {'DNI': 1111}]",18.0
3,4444,Antonio,Perez Carrillo,Santa Cruz,H,"[ciclismo, running]","[{'DNI': 3333}, {'DNI': 5555}, {'DNI': 9999}]",25.0
4,5555,Pedro,Arzola Brito,La Laguna,H,"[musica, lectura, running]","[{'DNI': 2222}, {'DNI': 4444}, {'DNI': 1111}]",23.0

In [54]:
normalized_data = pd.DataFrame(columns = [
    "DNI",
    "Nombre",
    "Apellidos",
    "Ciudad_residencia",
    "Fecha_nacimiento",
    "Sexo",
    "Estatura",
    "Aficiones",
    "Amigos"
])
normalized_data

Empty DataFrame
Columns: [DNI, Nombre, Apellidos, Ciudad_residencia, Fecha_nacimiento, Sexo, Estatura, Aficiones, Amigos]
Index: []

In [55]:
# Normalizacion de DNI
normalized_data['DNI'] = raw_data['DNI']

In [56]:
# Normalizacion de Nombre
normalized_data['Nombre'] = raw_data['Nombre']

In [57]:
# Normalizacion de Apellidos
normalized_data['Nombre'] = raw_data['Apellidos']

In [58]:
# Normalizacion de Ciudad_residencia
normalized_data['Ciudad_residencia'] = raw_data['Ciudad']

In [68]:
from datetime import datetime

# Normalizacionde Fecha_nacimiento
def convert_age(source_age):
    today = datetime.now()
    year = today.year - int(source_age) if source_age != 0 else 1901
    
    return f'{today.day}-{today.month}-{year}'

raw_data['Edad'].fillna(-1).apply(convert_age)

0     29-11-2024
1     29-11-2001
2     29-11-2005
3     29-11-1998
4     29-11-2000
5     29-11-1996
6     29-11-1997
7     29-11-2000
8     29-11-2006
9     29-11-1994
10    29-11-1998
Name: Edad, dtype: object