In [8]:
from source_json_norm import JsonNormalizer
import pandas as pd

raw_data = pd.read_json('../../data/Fuente1/Fuente1 - personas.json')
JsonNormalizer().normalize(raw_data)

,DNI,Nombre,Apellidos,Ciudad_residencia,Fecha_nacimiento,Sexo,Estatura,Aficiones,Amigos
0,1111,Maria,Mendez Garcia,La Laguna,30-11-2024,M,0,"[pintura, senderismo, natacion]","[4444, 2222]"
1,2222,Carmen,Martinez Palacios,Tacoronte,30-11-2001,M,0,"[pintura, tenis, natacion]","[9999, 1111]"
2,3333,Carlos,Sanchez Diaz,Santa Cruz,30-11-2005,H,0,"[running, futbol, natacion]","[5555, 2222, 1111]"
3,4444,Antonio,Perez Carrillo,Santa Cruz,30-11-1998,H,0,"[ciclismo, running]","[5555, 3333, 9999]"
4,5555,Pedro,Arzola Brito,La Laguna,30-11-2000,H,0,"[musica, running, lectura]","[4444, 2222, 1111]"
5,6666,Pilar,Dorta Gil,El Sauzal,30-11-1996,M,0,"[tenis, lectura, natacion]","[8888, 7777]"
6,7777,Luis,Mejias Rodriguez,Santa Cruz,30-11-1997,H,0,"[ciclismo, running, natacion]",[6666]
7,8888,Teresa,Vicario Diaz,Tacoronte,30-11-2000,M,0,"[running, lectura]","[6666, 4444, 1111]"
8,9999,Rosa,Cutillas Caro,Santa Cruz,30-11-2006,M,0,"[teatro, patinaje, cine, lectura]","[3333, 2222, 1111]"
9,1010,David,Mendez Prieto,Santa ursula,30-11-1994,H,0,"[cine, lectura, bricolaje]","[6666, 1020]"
10,1020,Milagros,Perdomo Gomez,La Laguna,30-11-1998,M,0,"[teatro, lectura]","[7777, 2222, 1111]"