In [1]:
import pandas as pd

In [2]:
import re

In [3]:
re.match(
    pattern = r'(.*)\.(csv|json|xml)',
    string = 'fichero.job.csv'
).group(1)

'fichero.job'

In [4]:
pd.read_csv

<function pandas.io.parsers.readers.read_csv(filepath_or_buffer: 'FilePath | ReadCsvBuffer[bytes] | ReadCsvBuffer[str]', *, sep: 'str | None | lib.NoDefault' = <no_default>, delimiter: 'str | None | lib.NoDefault' = None, header: "int | Sequence[int] | None | Literal['infer']" = 'infer', names: 'Sequence[Hashable] | None | lib.NoDefault' = <no_default>, index_col: 'IndexLabel | Literal[False] | None' = None, usecols: 'list[HashableT] | Callable[[Hashable], bool] | None' = None, dtype: 'DtypeArg | None' = None, engine: 'CSVEngine | None' = None, converters: 'Mapping[Hashable, Callable] | None' = None, true_values: 'list | None' = None, false_values: 'list | None' = None, skipinitialspace: 'bool' = False, skiprows: 'list[int] | int | Callable[[Hashable], bool] | None' = None, skipfooter: 'int' = 0, nrows: 'int | None' = None, na_values: 'Sequence[str] | Mapping[str, Sequence[str]] | None' = None, keep_default_na: 'bool' = True, na_filter: 'bool' = True, verbose: 'bool' = False, skip_blank_lines: 'bool' = True, parse_dates: 'bool | Sequence[Hashable] | None' = None, infer_datetime_format: 'bool | lib.NoDefault' = <no_default>, keep_date_col: 'bool' = False, date_parser: 'Callable | lib.NoDefault' = <no_default>, date_format: 'str | None' = None, dayfirst: 'bool' = False, cache_dates: 'bool' = True, iterator: 'bool' = False, chunksize: 'int | None' = None, compression: 'CompressionOptions' = 'infer', thousands: 'str | None' = None, decimal: 'str' = '.', lineterminator: 'str | None' = None, quotechar: 'str' = '"', quoting: 'int' = 0, doublequote: 'bool' = True, escapechar: 'str | None' = None, comment: 'str | None' = None, encoding: 'str | None' = None, encoding_errors: 'str | None' = 'strict', dialect: 'str | csv.Dialect | None' = None, on_bad_lines: 'str' = 'error', delim_whitespace: 'bool' = False, low_memory: 'bool' = True, memory_map: 'bool' = False, float_precision: "Literal['high', 'legacy'] | None" = None, storage_options: 'StorageOptions | None' = None, dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>) -> 'DataFrame | TextFileReader'>

In [6]:
import multi_reader

csv_file = multi_reader.read_csv('../data/iris.csv')
display(csv_file.data_frame)

     sepal_length  sepal_width  petal_length  petal_width            iris
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [7]:
xml_file = multi_reader.read_xml('../data/movies.xml')
display(xml_file.data_frame)

,favorite,title,format,year,rating,description
0,True,Indiana Jones: The raiders of the lost Ark,DVD,1981,PG,'Archaeologist and adventurer Indiana Jones \n...
1,True,THE KARATE KID,"DVD,Online",1984,PG,None provided.
2,False,Back 2 the Future,Blu-ray,1985,PG,Marty McFly
3,False,X-Men,"dvd, digital",2000,PG-13,Two mutants come to a private academy for thei...
4,True,Batman Returns,VHS,1992,PG13,NA.
5,False,Reservoir Dogs,Online,1992,R,WhAtEvER I Want!!!?!
6,False,ALIEN,DVD,1979,R,""""""""""""""""""""
7,True,Ferris Bueller's Day Off,DVD,1986,PG13,Funny movie about a funny guy
8,False,American Psycho,blue-ray,2000,Unrated,psychopathic Bateman
9,False,Batman: The Movie,"DVD,VHS",1966,PG,What a joke!
10,True,Easy A,DVD,2010,PG--13,Emma Stone = Hester Prynne
11,True,Dinner for SCHMUCKS,"DVD,digital,Netflix",2011,Unrated,Tim (Rudd) is a rising executive\n ...
12,False,Ghostbusters,"Online,VHS",1984,PG,Who ya gonna call?
13,True,Robin Hood: Prince of Thieves,Blu_Ray,1991,Unknown,Robin Hood slaying

In [9]:
json_file = multi_reader.read_json('../data/country.json')
display(json_file.data_frame)

                name code
0            Algeria   DZ
1          Argentina   AR
2          Australia   AU
3            Austria   AT
4    Austria-Hungary  NaN
..               ...  ...
130      WÃ¼rttemberg   DE
131            Yemen   YE
132       Yugoslavia   YU
133           Zambia   ZM
134         Zimbabwe   ZW

[135 rows x 2 columns]