In [1]:
import multi_reader
import pandas as pd

In [2]:
alberto = multi_reader.read_csv('../data/iris_copy.csv')
print(alberto.summary())
print(alberto.content())

new_alberto = alberto.insert(alberto)
print(new_alberto.summary())
print(new_alberto.content())

new_again_alberto = alberto.insert([
    (3, 3, 3, 3, 'flor toda bonita')
])
print(new_again_alberto.summary())
print(new_again_alberto.content())

iris_copy.csv (3 rows)
   sepal_length  sepal_width  petal_length  petal_width         iris
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
iris_copy.csv (6 rows)
   sepal_length  sepal_width  petal_length  petal_width         iris
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           5.1          3.5           1.4          0.2  Iris-setosa
4           4.9          3.0           1.4          0.2  Iris-setosa
5           4.7          3.2           1.3          0.2  Iris-setosa
iris_copy.csv (4 rows)
   sepal_length  sepal_width  petal_length  petal_width              iris
0           5.1          3.5           1.4          0.2       Iris-setosa
1           4.9          3.0           1.4          0.2       Iris-setosa
2           4.7          3.2           1.3          0.2       Iris-setosa
3           3.0          3.0           3.0          3.0  flor toda bonita

In [3]:
pepito = multi_reader.read_xml('../data/movies_copy.xml')
print(pepito.summary())
print(pepito.content())

new_pepito = pepito.insert(pepito)
print(new_pepito.summary())
print(new_pepito.content())

movies_copy.xml (3 rows)
   favorite                                       title      format  year rating                                                                                                                                                   description
0      True  Indiana Jones: The raiders of the lost Ark         DVD  1981     PG  'Archaeologist and adventurer Indiana Jones \n        is hired by the U.S. government to find the Ark of the \n        Covenant before the Nazis.'\n
1      True                              THE KARATE KID  DVD,Online  1984     PG                                                                                                                                                None provided.
2     False                           Back 2 the Future     Blu-ray  1985     PG                                                                                                                                                   Marty McFly
movies_copy.xml (6 rows)
   favorite                                       title      format  year rating                                                                                                                                                   description
0      True  Indiana Jones: The raiders of the lost Ark         DVD  1981     PG  'Archaeologist and adventurer Indiana Jones \n        is hired by the U.S. government to find the Ark of the \n        Covenant before the Nazis.'\n
1      True                              THE KARATE KID  DVD,Online  1984     PG                                                                                                                                                None provided.
2     False                           Back 2 the Future     Blu-ray  1985     PG                                                                                                                                                   Marty McFly
3      True  Indiana Jones: The raiders of the lost Ark         DVD  1981     PG  'Archaeologist and adventurer Indiana Jones \n        is hired by the U.S. government to find the Ark of the \n        Covenant before the Nazis.'\n
4      True                              THE KARATE KID  DVD,Online  1984     PG                                                                                                                                                None provided.
5     False                           Back 2 the Future     Blu-ray  1985     PG                                                                                                                                                   Marty McFly

In [4]:
a = pd.DataFrame.from_records(
    data = [
        (1, 1, 1),
        (2, 2, 2),
        (3, 3, 3)
    ],
    columns = ['a', 'b', 'c']
)

delete_condition = lambda row: row['a'] < 2

b = a[a.apply(
    lambda row: not delete_condition(row),
    axis = 1,
)]

b = b.reset_index(drop = True)

display(b)

   a  b  c
0  2  2  2
1  3  3  3

In [5]:
print(new_again_alberto.content())

alberto_sad = new_again_alberto.delete(lambda row: row['iris'] == 'flor toda bonita')

print(alberto_sad.content())

   sepal_length  sepal_width  petal_length  petal_width              iris
0           5.1          3.5           1.4          0.2       Iris-setosa
1           4.9          3.0           1.4          0.2       Iris-setosa
2           4.7          3.2           1.3          0.2       Iris-setosa
3           3.0          3.0           3.0          3.0  flor toda bonita
   sepal_length  sepal_width  petal_length  petal_width         iris
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa

In [6]:


def action(row):
    row['b'] = 69


def condition(row):
    return row['a'] == 1


a = pd.DataFrame.from_records(
    data = [
        (1, 1, 1),
        (2, 2, 2),
        (3, 3, 3)
    ],
    columns = ['a', 'b', 'c']
)

b = a.copy(deep = True)

for i, row in b.iterrows():
    if condition(row):
        action(row)


display(b)

   a   b  c
0  1  69  1
1  2   2  2
2  3   3  3

In [7]:
def duplicate_sepal_length(row):
    row['sepal_length'] *= 20


alberto_gordo = alberto_sad.update(
    condition = lambda row: row['sepal_length'] <= 4.8,
    statement = duplicate_sepal_length
)

print(alberto_sad.content())
print(alberto_gordo.content())

   sepal_length  sepal_width  petal_length  petal_width         iris
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
   sepal_length  sepal_width  petal_length  petal_width         iris
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2          94.0          3.2           1.3          0.2  Iris-setosa

In [8]:
a = pd.DataFrame.from_records(
    data = [
        (1, 1, 1),
        (2, 2, 2),
        (3, 3, 3)
    ],
    columns = ['a', 'b', 'c']
)

a['d'] = a['a'] + a['b'] + a['c']
a['e'] = None

display(a)

   a  b  c  d     e
0  1  1  1  3  None
1  2  2  2  6  None
2  3  3  3  9  None

In [9]:
print(alberto_gordo.add_field('Tamanio_minga', lambda row: row['sepal_length'] * 2).content())
print(alberto_gordo.drop_field('sepal_width').content())

   sepal_length  sepal_width  petal_length  petal_width         iris  Tamanio_minga
0           5.1          3.5           1.4          0.2  Iris-setosa           10.2
1           4.9          3.0           1.4          0.2  Iris-setosa            9.8
2          94.0          3.2           1.3          0.2  Iris-setosa          188.0
   sepal_length  petal_length  petal_width         iris
0           5.1           1.4          0.2  Iris-setosa
1           4.9           1.4          0.2  Iris-setosa
2          94.0           1.3          0.2  Iris-setosa

In [13]:
peliculas = multi_reader.read_xml('../data/movies_copy.xml')

def resumir_pelicula(row):
    row['description'] = 'se mueren todos. Fin'

peliculas_resumidas = peliculas.update(
    condition = lambda row: 1 == 1,
    statement = resumir_pelicula
)

print(peliculas_resumidas.content())

   favorite                                       title      format  year rating           description
0      True  Indiana Jones: The raiders of the lost Ark         DVD  1981     PG  se mueren todos. Fin
1      True                              THE KARATE KID  DVD,Online  1984     PG  se mueren todos. Fin
2     False                           Back 2 the Future     Blu-ray  1985     PG  se mueren todos. Fin