In [2]:
import multi_reader
import pandas as pd

In [3]:
alberto = multi_reader.read_csv('../data/iris_copy.csv')
print(alberto.summary())
print(alberto.content())

new_alberto = alberto.insert(alberto)
print(new_alberto.summary())
print(new_alberto.content())

new_again_alberto = alberto.insert([
    (3, 3, 3, 3, 'flor toda bonita')
])
print(new_again_alberto.summary())
print(new_again_alberto.content())

iris_copy.csv (3 rows)
   sepal_length  sepal_width  petal_length  petal_width         iris
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
iris_copy.csv (6 rows)
   sepal_length  sepal_width  petal_length  petal_width         iris
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           5.1          3.5           1.4          0.2  Iris-setosa
4           4.9          3.0           1.4          0.2  Iris-setosa
5           4.7          3.2           1.3          0.2  Iris-setosa
iris_copy.csv (4 rows)
   sepal_length  sepal_width  petal_length  petal_width              iris
0           5.1          3.5           1.4          0.2       Iris-setosa
1           4.9          3.0           1.4          0.2       Iris-setosa
2           4.7          3.2           1.3          0.2       Iris-setosa
3           3.0          3.0           3.0          3.0  flor toda bonita

In [4]:
pepito = multi_reader.read_xml('../data/movies_copy.xml')
print(pepito.summary())
print(pepito.content())

new_pepito = pepito.insert(pepito)
print(new_pepito.summary())
print(new_pepito.content())

movies_copy.xml (3 rows)
   favorite                                       title      format  year rating                                                                                                                                                   description
0      True  Indiana Jones: The raiders of the lost Ark         DVD  1981     PG  'Archaeologist and adventurer Indiana Jones \n        is hired by the U.S. government to find the Ark of the \n        Covenant before the Nazis.'\n
1      True                              THE KARATE KID  DVD,Online  1984     PG                                                                                                                                                None provided.
2     False                           Back 2 the Future     Blu-ray  1985     PG                                                                                                                                                   Marty McFly
movies_copy.xml (6 rows)
   favorite                                       title      format  year rating                                                                                                                                                   description
0      True  Indiana Jones: The raiders of the lost Ark         DVD  1981     PG  'Archaeologist and adventurer Indiana Jones \n        is hired by the U.S. government to find the Ark of the \n        Covenant before the Nazis.'\n
1      True                              THE KARATE KID  DVD,Online  1984     PG                                                                                                                                                None provided.
2     False                           Back 2 the Future     Blu-ray  1985     PG                                                                                                                                                   Marty McFly
3      True  Indiana Jones: The raiders of the lost Ark         DVD  1981     PG  'Archaeologist and adventurer Indiana Jones \n        is hired by the U.S. government to find the Ark of the \n        Covenant before the Nazis.'\n
4      True                              THE KARATE KID  DVD,Online  1984     PG                                                                                                                                                None provided.
5     False                           Back 2 the Future     Blu-ray  1985     PG                                                                                                                                                   Marty McFly

In [5]:
a = pd.DataFrame.from_records(
    data = [
        (1, 1, 1),
        (2, 2, 2),
        (3, 3, 3)
    ],
    columns = ['a', 'b', 'c']
)

delete_condition = lambda row: row['a'] < 2

b = a[a.apply(
    lambda row: not delete_condition(row),
    axis = 1,
)]

b = b.reset_index(drop = True)

display(b)

   a  b  c
0  2  2  2
1  3  3  3

In [6]:
print(new_again_alberto.content())

alberto_sad = new_again_alberto.delete(lambda row: row['iris'] == 'flor toda bonita')

print(alberto_sad.content())

   sepal_length  sepal_width  petal_length  petal_width              iris
0           5.1          3.5           1.4          0.2       Iris-setosa
1           4.9          3.0           1.4          0.2       Iris-setosa
2           4.7          3.2           1.3          0.2       Iris-setosa
3           3.0          3.0           3.0          3.0  flor toda bonita
   sepal_length  sepal_width  petal_length  petal_width         iris
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa

In [12]:
a = pd.DataFrame.from_records(
    data = [
        (1, 1, 1),
        (2, 2, 2),
        (3, 3, 3)
    ],
    columns = ['a', 'b', 'c']
)

def update_series(row, action, condition):
    if condition(row):
        action(row)
    return row

ts_condition = lambda row: row['a'] == 2

a.apply(
    lambda row: 3
)

0    4
1    2
2    3
dtype: int64

In [13]:
c = pd.Series([1, 2, 3])
c[0] = 3
display(c)

0    3
1    2
2    3
dtype: int64